@inherits UmbracoViewPage<ContactViewModel>


@if (Model.Banner != null)
{
	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });
}

<section class="contact-content">
	<div class="wrapper">
		<div class="left-col">
			@if (Model.Image != null)
			{
				<div class="image-holder">
					<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(Model.ContactInfo))
			{
				<div class="rte-content">
					@Html.Raw(Model.ContactInfo)
				</div>
			}

		</div>
		<div class="right-col">
			<div class="contact-form-wrap">
				<h2>@Model.WriteUs.Title</h2>
				<form id="contact-us" action="/umbraco/api/forms/contactus" method="post">
					<fieldset>
						<div class="fieldset-inner">
							<div class="input-wrap">
								<input type="text" id="contactName" name="name" placeholder="@Model.WriteUs.FullName" />
								<label for="contactName" class="sr-only">@Model.WriteUs.FullName</label>
							</div>
							<div class="input-wrap">
								<input type="text" id="contactEmail" name="email" placeholder="@Model.WriteUs.Email" />
								<label for="contactEmail" class="sr-only">@Model.WriteUs.Email</label>
							</div>
							<div class="input-wrap input-wrap-fullwidth">
								<textarea id="contactMessage" name="message" placeholder="@Model.WriteUs.Message"></textarea>
								<label for="contactMessage" class="sr-only">@Model.WriteUs.Message</label>
							</div>
							<span class="contact-form-error js-error-message"></span>
							<span class="contact-form-success js-success-message">@Model.WriteUs.OnSubmitMessage</span>
							<div class="input-submit-wrap">
								<button type="submit" id="contact-us-submit" class="btn">@Model.WriteUs.SubmitButtonText</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
