@inherits UmbracoViewPage<ContactViewModel>

<section class="hero-banner" style="background-image: url(@Model.BannerImage.Url)">
	<div class="wrapper">
		<h1 class="page-title">@Model.PageTitle</h1>
	</div>
</section>

<section class="contact-content">
	<div class="wrapper">
		<div class="left-col">
			<div class="image-holder">
				<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
			</div>
			<div class="rte-content">
				@Html.Raw(@Model.ContactInfo)
			</div>
		</div>
		<div class="right-col">
			<div class="contact-form-wrap">
				<h2>@Model.WriteUs.Title</h2>
				<form id="contact-us" action="/umbraco/api/forms/contactus" method="post">
					<fieldset>
						<div class="fieldset-inner">
							<div class="input-wrap">
								<input type="text" id="contactName" name="name" placeholder="@Model.WriteUs.FullName" />
								<label for="contactName" class="sr-only">@Model.WriteUs.FullName</label>
							</div>
							<div class="input-wrap">
								<input type="text" id="contactEmail" name="email" placeholder="@Model.WriteUs.Email" />
								<label for="contactEmail" class="sr-only">@Model.WriteUs.Email</label>
							</div>
							<div class="input-wrap input-wrap-fullwidth">
								<textarea id="contactMessage" name="message" placeholder="@Model.WriteUs.Message"></textarea>
								<label for="contactMessage" class="sr-only">@Model.WriteUs.Message</label>
							</div>
							<span class="error-message" style="color: red"></span>
							<span class="success-message" style="display: none; color:green">@Model.WriteUs.OnSubmitMessage</span>
							<div class="input-submit-wrap">
								<button type="submit" id="contact-us-submit" class="btn">@Model.WriteUs.SubmitButtonText</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>


<section class="news-feed-block">
	<div class="wrapper">
		<div class="news-list">
			<div class="news-item">
				<div class="image-holder">
					<img src="assets/img/content/news.jpg" alt="" />
				</div>
				<div class="text-holder">
					<h3>Vest #1</h3>
					<span class="date">04.10.2019.</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
					</p>
					<a href="javascript:;" class="btn">Saznaj vise</a>
				</div>
			</div>
			<div class="news-item">
				<div class="image-holder">
					<img src="assets/img/content/news.jpg" alt="" />
				</div>
				<div class="text-holder">
					<h3>Vest #1</h3>
					<span class="date">04.10.2019.</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
					</p>
					<a href="javascript:;" class="btn">Saznaj vise</a>
				</div>
			</div>
			<div class="news-item">
				<div class="image-holder">
					<img src="assets/img/content/news.jpg" alt="" />
				</div>
				<div class="text-holder">
					<h3>Vest #1</h3>
					<span class="date">04.10.2019.</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
					</p>
					<a href="javascript:;" class="btn">Saznaj vise</a>
				</div>
			</div>
		</div>
		<div class="news-item news-item-highlighted">
			<div class="image-holder">
				<img src="assets/img/content/news.jpg" alt="" />
			</div>
			<div class="text-holder">
				<h3>Vest #1</h3>
				<span class="date">04.10.2019.</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
				</p>
				<a href="javascript:;" class="btn">Saznaj vise</a>
			</div>
		</div>
	</div>
</section>
