@inherits UmbracoViewPage<ContactViewModel>

<div class="item" style="background-image: url(@Model.BannerImage.Url)">
	<h1>@Model.PageTitle</h1>
</div>

<div>
	<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
	@Html.Raw(@Model.ContactInfo)
</div>

<section class="contact-form">
	<div class="wrapper">
		<div class="contact-form-wrap">
			<h2>@Model.WriteUs.Title</h2>
			<form action="#">
				<fieldset>
					<div class="input-wrap">
						<input type="text" id="contactName" placeholder="@Model.WriteUs.FullName" />
						<label for="contactName" class="sr-only">@Model.WriteUs.FullName</label>
					</div>
					<div class="input-wrap">
						<input type="text" id="contactEmail" placeholder="@Model.WriteUs.Email" />
						<label for="contactEmail" class="sr-only">@Model.WriteUs.Email</label>
					</div>
					<div class="input-wrap input-wrap-fullwidth">
						<textarea id="contactMessage" placeholder="@Model.WriteUs.Message"></textarea>
						<label for="contactMessage" class="sr-only">@Model.WriteUs.Message</label>
					</div>
					<div class="input-submit-wrap">
						<button type="submit" class="btn">@Model.WriteUs.SubmitButtonText</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
