@inherits UmbracoViewPage<ContactViewModel>

<div class="item" style="background-image: url(@Model.BannerImage.Url)">
	<h1>@Model.PageTitle</h1>
</div>

<div>
	<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
	@Html.Raw(@Model.ContactInfo)
</div>

<section class="contact-form">
	<div class="wrapper">
		<div class="contact-form-wrap">
			<h2>@Model.WriteUs.Title</h2>
			<form action="#">
				<fieldset>
					<div class="input-wrap">
						<input type="text" id="contactName" placeholder="@Model.WriteUs.FullName" />
						<label for="contactName" class="sr-only">@Model.WriteUs.FullName</label>
					</div>
					<div class="input-wrap">
						<input type="text" id="contactEmail" placeholder="@Model.WriteUs.Email" />
						<label for="contactEmail" class="sr-only">@Model.WriteUs.Email</label>
					</div>
					<div class="input-wrap input-wrap-fullwidth">
						<textarea id="contactMessage" placeholder="@Model.WriteUs.Message"></textarea>
						<label for="contactMessage" class="sr-only">@Model.WriteUs.Message</label>
					</div>
					<div class="input-submit-wrap">
						<button type="submit" class="btn">@Model.WriteUs.SubmitButtonText</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>


<section class="hero-banner" style="background-image: url(assets/img/content/hero-banner.png);">
	<div class="wrapper">
		<h1 class="page-title">O nama</h1>
	</div>
</section>

<section class="rte-block">
	<div class="wrapper">
		<p>
			<strong>Novo kulturno naselje (NKN) je udruženje osnovano 2014.godine. <br />
			Glavna misija NKN-a jeste osnivanje Kulturnog centra na Novom naselju, delu grada koji broji preko 40.000 stanovnika.</strong>
		</p>
		<p>
			<strong>NKN godinama radi na razvoju i implementaciji kulturnih sadržaja u Novom Sadu. Cilj organizacije je podizanje svesti o potrebi promovisanja i afirmacije umetnika, naglašavajući potrebu za kulturnim centrom na Novom naselju, kao i širenje kulturne svesti u ovom delu grada i celom Novom Sadu. Na taj način bi se kulturne aktivnosti decentralizovale, a broj korisnika umetnosti i kulture bi se povećao. U protekle 4 godine NKN je izveo veliki broj različitih događaja, programa i projekata, kao što su: Pozorišni festival “Aplauz fest”, filmski festival “21114”, festival neafirmisanih umetnika “Dobro došli na Naselje”, različite umetničke i edukativne radionice, publikacije i mnogo, mnogo drugog. Stvarajući programe, događaje, i radionice u &quot;poznatim&quot; prostorima kao što su parkovi, otvoreni prostori i javne površine, uključivanje zajednice je odličan način da se mnoge lepe stvari ostvare. Stvarajmo novu istoriju zajedno!</strong>
		</p>
		<h2 style="text-align: center;">Ciljevi udruzenja su:</h2>
		<ul style="text-align: center;">
			<li>Promocija kulture, a naročito kulture mladih u kontekstu kreativnog izražavanja kroz kulturno-umetničke programe, gde se ciljevi ostvaruju na polju: muzičke, filmske, likovne, dramske umetnosti, arhitekture i psihologije</li>
			<li>Očuvanje životne sredine, promocija ekologije i zdravih stilova života</li>
			<li>Promovisanje vrednosti otvorenog i tolerantnog društva</li>
			<li>Razvijanje svesti o poštovanju osnovnih prava i sloboda čoveka</li>
		</ul>
	</div>
</section>

<section class="statistics-block" style="background-image: url(assets/img/content/mission-background.jpg);">
	<div class="wrapper">
		<div class="item">
			<span class="value">4</span>
			<span class="desc">godine postojanje</span>
		</div>
		<div class="item">
			<span class="value">70</span>
			<span class="desc">kreativnih radionica</span>
		</div>
		<div class="item">
			<span class="value">120</span>
			<span class="desc">desavanja</span>
		</div>
		<div class="item">
			<span class="value">1400</span>
			<span class="desc">posetilaca</span>
		</div>
	</div>
</section>

<!-- the same as for the homepage -->
<section class="four-highlighted-block">
	<div class="wrapper">
		<h2 class="section-title">Pridruži nam se</h2>
		<div class="cols-wrap">
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/01.png" class="image-regular" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Predloži svoju ideju</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/02.png" class="image-regular" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Prijavi se za naš festival</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/03.png" class="image-regular" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Naše umetničke i edukativne radionice</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/04.png" class="image-regular" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Pojavi se TV Seriji “Kurbla”</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="newsletter-block" style="background-image: url(assets/img/content/newsletter-background.jpg);">
	<div class="wrapper">
		<div class="left-col">
			<h2>Budi u toku sa dešavanjima!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.</p>
		</div>
		<div class="right-col">
			<form action="#">
				<fieldset>
					<div class="input-wrap">
						<input type="text" id="newsletterEmail" placeholder="E-mail"/>
						<label for="newsletterEmail" class="sr-only">E-mail</label>
					</div>
					<div class="input-submit-wrap">
						<button type="submit" class="btn">Prijavi se</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

<section class="contributors-block">
	<div class="wrapper">
		<h2 class="section-title">Naši prijatelji</h2>
		<div class="contributors-slider js-contributors-slider">
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-okce.png" alt="" />
				</a>
				<p>omladinski kreativni centar</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">Instagram</span>
						<span class="icon font-ico-instagram"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-kurbla.png" alt="" />
				</a>
				<p>TV serija o mladim herojima Novog Sada</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">YouTube</span>
						<span class="icon font-ico-youtube"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-milan-petrovic.png" alt="" />
				</a>
				<p>Obrazovanje, rehabilitacija i socijalna inkluzija dece i omladine sa posebnim potrebama</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">Instagram</span>
						<span class="icon font-ico-instagram"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-bogdan-suput.png" alt="" />
				</a>
				<p>Umetnička srednja škola u Novom Sadu</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">Instagram</span>
						<span class="icon font-ico-instagram"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-milan-petrovic.png" alt="" />
				</a>
				<p>Obrazovanje, rehabilitacija i socijalna inkluzija dece i omladine sa posebnim potrebama</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">Instagram</span>
						<span class="icon font-ico-instagram"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-kurbla.png" alt="" />
				</a>
				<p>TV serija o mladim herojima Novog Sada</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">YouTube</span>
						<span class="icon font-ico-youtube"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-okce.png" alt="" />
				</a>
				<p>omladinski kreativni centar</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">Instagram</span>
						<span class="icon font-ico-instagram"></span>
					</a>
				</div>
			</div>
			<div class="item">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-bogdan-suput.png" alt="" />
				</a>
				<p>Umetnička srednja škola u Novom Sadu</p>
				<div class="social-icons">
					<a href="javascript:;">
						<span class="sr-only">Facebook</span>
						<span class="icon font-ico-facebook"></span>
					</a>
					<a href="javascript:;">
						<span class="sr-only">Instagram</span>
						<span class="icon font-ico-instagram"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="news-feed-block">
	<div class="wrapper">
		<div class="news-list">
			<div class="news-item">
				<div class="image-holder">
					<img src="assets/img/content/news.jpg" alt="" />
				</div>
				<div class="text-holder">
					<h3>Vest #1</h3>
					<span class="date">04.10.2019.</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
					</p>
					<a href="javascript:;" class="btn">Saznaj vise</a>
				</div>
			</div>
			<div class="news-item">
				<div class="image-holder">
					<img src="assets/img/content/news.jpg" alt="" />
				</div>
				<div class="text-holder">
					<h3>Vest #1</h3>
					<span class="date">04.10.2019.</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
					</p>
					<a href="javascript:;" class="btn">Saznaj vise</a>
				</div>
			</div>
			<div class="news-item">
				<div class="image-holder">
					<img src="assets/img/content/news.jpg" alt="" />
				</div>
				<div class="text-holder">
					<h3>Vest #1</h3>
					<span class="date">04.10.2019.</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
					</p>
					<a href="javascript:;" class="btn">Saznaj vise</a>
				</div>
			</div>
		</div>
		<div class="news-item news-item-highlighted">
			<div class="image-holder">
				<img src="assets/img/content/news.jpg" alt="" />
			</div>
			<div class="text-holder">
				<h3>Vest #1</h3>
				<span class="date">04.10.2019.</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.
				</p>
				<a href="javascript:;" class="btn">Saznaj vise</a>
			</div>
		</div>
	</div>
</section>