@inherits UmbracoViewPage<GalleryViewModel>
@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}
@if (Model.Banner != null)
{
	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });
}

@if (Model.ImageAlbums != null && Model.ImageAlbums.Any())
{
	<section class="gallery-block">
		<div class="wrapper">
			@if (!string.IsNullOrWhiteSpace(Model.ImageGalleryTitle))
			{
				<h2 class="gallery-section-title">@Model.ImageGalleryTitle</h2>
			}

			<div class="gallery-slider js-album-slider">
				@foreach (var album in Model.ImageAlbums)
				{
					<div class="item">
						<h3>@album.PageTitle</h3>
						<a href="@album.Url" class="gallery-image-holder"  @{if (album.PreviewImage != null) { <text> style="background-image: url('@album.PreviewImage.Url');" </text>  }}>>
							<span class="sr-only">Click here to see album</span>
						</a>
					</div>
				}
			</div>
		</div>
	</section>
}
@if (Model.ContactBlock != null)
{
	Html.RenderAction<NestedContentController>(c => nameof(c.WriteUs), new { viewModel = Model.ContactBlock });
}

@if (Model.VideoItems != null && Model.VideoItems.Any())
{
	<section class="gallery-block">
		<div class="wrapper">
			@if (!string.IsNullOrWhiteSpace(Model.VideoGalleryTitle))
			{
				<h2 class="gallery-section-title">@Model.VideoGalleryTitle</h2>
			}
			<div class="gallery-slider js-video-slider">
				@foreach (var item in Model.VideoItems)
				{
					<div class="item">
						@if (!string.IsNullOrWhiteSpace(item.Title))
						{
							<h3>@item.Title</h3>
						}
						@if (!string.IsNullOrWhiteSpace(item.VideoUrl))
						{
							<a href="javascript:;" class="gallery-image-holder js-gallery-video-thumbnail" data-src="@item.VideoUrl" @{if (item.CoverImage != null) { <text> style="background-image: url('@item.CoverImage.Url');" </text>  }}>
								<span class="sr-only">Click here to open a popup with video</span>
								<span class="icon font-ico-play"></span>
							</a>
						}

					</div>
				}
			</div>

			<div class="popup js-popup">
				<span class="popup-overlay js-popup-overlay"></span>
				<button type="button" class="popup-close js-popup-close"><span class="sr-only">Click here to close popup</span></button>
				<div class="popup-content js-popup-content">
					<div class="gallery-responsive-video">
						<iframe class="js-gallery-video-iframe" width="560" height="315" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
}


