@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectCategoryLandingViewModel>

@if (Model.Banner != null)
{

	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });

}

<div class="projects-landing">
	<section class="image-with-text-block">
		<div class="wrapper">
			<div class="rte-block">
				@if (Model.Image != null)
				{
					<div class="image-holder">
						<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
					</div>
				}

				@if (!string.IsNullOrWhiteSpace(Model.Text.ToString()))
				{
					@Model.Text
				}
			</div>
		</div>
	</section>
	@if (Model.SectionOneItems != null && Model.SectionOneItems.Any())
	{
		<section class="feed-wrapper projects-wrapper">
			<div class="wrapper">
				@if (!string.IsNullOrWhiteSpace(Model.SectionOneTitle))
				{
					<h2 class="section-title">@Model.SectionOneTitle</h2>
				}

				<div class="feed-list js-projects-slider">
					@foreach (var projectPreview in Model.SectionOneItems)
					{
						<div class="feed-item">
							@if (projectPreview.SmallImage != null)
							{
								<a href="@projectPreview.PageUrl" class="feed-image-holder">
									<img src="@projectPreview.SmallImage.Url" alt="@projectPreview.SmallImage.AlternateText" />
								</a>
							}
							<div class="feed-text-holder">
								@if (!string.IsNullOrWhiteSpace(projectPreview.PageTitle))
								{
									<h3><a href="@projectPreview.PageUrl">@projectPreview.PageTitle</a></h3>
								}
								@if (!string.IsNullOrWhiteSpace(projectPreview.Summary))
								{
									<p>@projectPreview.Summary</p>
								}
								@if (!projectPreview.HideLink)
								{
									<a href="@projectPreview.PageUrl" class="btn">@UmbracoDictionary.ProjectLanding.ViewMore</a>
								}
							</div>
						</div>
					}
				</div>
			</div>
		</section>
	}

	@if (Model.SectionTwoItems != null && Model.SectionTwoItems.Any())
	{
		<section class="future-projects-block">
			<div class="wrapper">
				@if (!string.IsNullOrWhiteSpace(Model.SectionTwoTitle))
				{
					<h2 class="section-title">@Model.SectionTwoTitle</h2>
				}

				<div class="cols-wrap">
					@foreach (var item in Model.SectionTwoItems)
					{
						<div class="col">
							<div class="image-holder" @{if (item.SmallImage != null) { <text> style="background-image: url('@item.SmallImage.Url');" </text>  } }>
								<span class="green-overlay"></span>
								@if (!string.IsNullOrWhiteSpace(item.PageTitle))
								{
									<h3>@item.PageTitle</h3>
								}
							</div>
							@if (!string.IsNullOrWhiteSpace(item.Summary))
							{
								<div class="text-holder">
									<p>@item.Summary</p>
								</div>
							}

						</div>
					}
				</div>
			</div>
		</section>
	}

</div>

