@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectCategoryLandingViewModel>

@if (Model.Banner != null)
{
	
	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });
	
}

<div class="projects-landing">
	<section class="image-with-text-block">
		<div class="wrapper">
			<div class="rte-block">
				@if (Model.Image != null)
				{
					<div class="image-holder">
						<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
					</div>
				}

				@if (!string.IsNullOrWhiteSpace(Model.Text.ToString()))
				{
					@Model.Text
				}
			</div>
		</div>
	</section>
	@if (Model.AllProjects != null && Model.AllProjects.Any())
	{
		<section class="feed-wrapper projects-wrapper">
			<div class="wrapper">
				<h2 class="section-title">@UmbracoDictionary.ProjectLanding.RealizedProjects</h2>
				<div class="feed-list js-projects-slider">
					@foreach (var projectPreview in Model.AllProjects)
					{
						<div class="feed-item">
							@if (projectPreview.SmallImage != null)
							{
								<a href="@projectPreview.Url" class="feed-image-holder">
									<img src="@projectPreview.SmallImage.Url" alt="" />
								</a>
							}
							<div class="feed-text-holder">
								@if (!string.IsNullOrWhiteSpace(projectPreview.Title))
								{
									<h3><a href="@projectPreview.Url">@projectPreview.Title</a></h3>
								}
								@if (!string.IsNullOrWhiteSpace(projectPreview.Summary))
								{
									<p>@projectPreview.Summary</p>
								}
								<a href="@projectPreview.Url" class="btn">@UmbracoDictionary.ProjectLanding.ViewMore</a>
							</div>
						</div>
					}
				</div>
			</div>
		</section>
	}


	<!-- TODO-from-Tijana here should go newsletter block -->
	@if (Model.FutureProjects != null && Model.FutureProjects.Any())
	{
		<section class="future-projects-block">
			<div class="wrapper">
				<h2 class="section-title">@UmbracoDictionary.ProjectLanding.FutureProjects</h2>
				<div class="cols-wrap">
					@foreach (var item in Model.FutureProjects)
					{
					<div class="col">
						<div class="image-holder" style="background-image: url('@item.Image.Url');">
							<span class="green-overlay"></span>
							@if (!string.IsNullOrWhiteSpace(item.Title))
							{
								<h3>@item.Title</h3>
							}
						</div>
						@if (!string.IsNullOrWhiteSpace(item.Text))
						{
							<div class="text-holder">
								<p>@item.Text</p>
							</div>
						}

					</div>
					}
				</div>
			</div>
		</section>
	}

</div>
</div>
