@inherits UmbracoViewPage<ContributorsBlockViewModel>

<section class="contributors-block">
	<div class="wrapper">
		@if (!string.IsNullOrEmpty(Model.Title))
		{
			<h2 class="section-title">@Model.Title</h2>
		}

		@if (!string.IsNullOrEmpty(Model.Text))
		{
			<p class="intro-text">@Model.Text</p>
		}

		<div class="contributors-slider js-slider js-contributors-slider">
			@foreach (var contributor in Model.Contributors)
			{
				<div class="item">
					@if (contributor.Image != null)
					{
						<a class="image-holder js-image-holder @(Model.IncludeHover ? "image-holder-hover" : "")" href="@(contributor.Link != null ? contributor.Link.Url : "")">
							<img src="@contributor.Image.Url" alt="" />
						</a>
					}

					@if (!string.IsNullOrEmpty(contributor.Title) && Model.ShowContributorTitles)
					{
						<p>
							@contributor.Title
						</p>
					}

					@if (Model.ShowSocialLinks)
					{
						<div class="social-icons">
							@if (!string.IsNullOrEmpty(contributor.FacebookLink))
							{
								<a href="@contributor.FacebookLink">
									<span class="sr-only">Facebook</span>
									<span class="icon font-ico-facebook"></span>
								</a>
							}
							@if (!string.IsNullOrEmpty(contributor.InstagramLink))
							{
								<a href="@contributor.InstagramLink">
									<span class="sr-only">Instagram</span>
									<span class="icon font-ico-instagram"></span>
								</a>
							}
							@if (!string.IsNullOrEmpty(contributor.YouTubeLink))
							{
								<a href="@contributor.YouTubeLink">
									<span class="sr-only">YouTube</span>
									<span class="icon font-ico-youtube"></span>
								</a>
							}
						</div>
					}
				</div>
			}
		</div>
	</div>
</section>
