@inherits UmbracoViewPage<FourHighlightedItemsBlockViewModel>

<section class="four-highlighted-block js-four-highlighted-block">
	<div class="wrapper">
		@if (!string.IsNullOrEmpty(Model.Title))
		{
			<h2 class="section-title">@Model.Title</h2>
		}
		<div class="cols-wrap">
			@foreach (var item in Model.HighlightedItems)
			{
				<div class="col">
					<a href="@(item.Link != null ? item.Link.Url : string.Empty)" class="image-holder @(item.ImageHover != null ? "image-holder-hover" : "")">
						@if (item.Image != null)
						{
							<img src="@item.Image.Url" class="image-regular" alt="" />
						}
						@if (item.ImageHover != null)
						{
							<img src="@item.ImageHover.Url" class="image-hover" alt="" />
						}
					</a>
					<div class="text-holder">
						@if (!string.IsNullOrEmpty(item.Title))
						{
							<h3>@item.Title</h3>
						}
						@if (!string.IsNullOrEmpty(item.Text))
						{
							<p>
								@item.Text
							</p>
						}
						@if (item.Link != null)
						{
							<a href="@item.Link.Url" target="@item.Link.Target" class="btn">@item.Link.Content</a>
						}
					</div>
				</div>
			}
		</div>
	</div>
</section>
