@model NewsDetailPreviewViewModel

<div class="feed-item feed-item-highlighted">
	@if (Model.SmallImage != null)
	{
		<div class="feed-image-holder">
			<img src="@Model.SmallImage.Url" alt="@Model.SmallImage.AlternateText" />
		</div>
	}
		<div class="feed-text-holder">
			@if (!string.IsNullOrWhiteSpace(Model.PageTitle))
			{
				<h3>@Model.PageTitle</h3>
			}
			@if (!string.IsNullOrWhiteSpace(Model.ReleaseDate))
			{
				<span class="feed-date">@Model.ReleaseDate</span>
			}
			@if (!string.IsNullOrWhiteSpace(Model.SummaryHighlighted))
			{
				<p>
					@Model.SummaryHighlighted
				</p>
			}
			@if (Model.Link != null)
			{
				<a href="@Model.Link.Url" target="@Model.Link.Target" class="btn">@Model.Link.Content</a>
			}

		</div>
</div>
