@inherits UmbracoViewPage<DetailsPagePreviewViewModel>

<div class="feed-item">
	@if (Model.SmallImage != null)
	{
		<a href="@Model.PageUrl" class="feed-image-holder">
			<img src="@Model.SmallImage.Url" alt="@Model.SmallImage.AlternateText" />
		</a>
	}
		<div class="feed-text-holder">
			<h3><a href="@Model.PageUrl">@Model.PageTitle</a></h3>
			@if (!string.IsNullOrWhiteSpace(Model.ReleaseDate))
			{
				<span class="feed-date">@Model.ReleaseDate</span>
			}
			@if (!string.IsNullOrWhiteSpace(Model.Summary))
			{
				<p>
					@Model.Summary
				</p>
			}
			@if (!Model.HideLink)
			{
				<a href="@Model.PageUrl" class="btn">@UmbracoDictionary.ProjectLanding.ViewMore</a>
			}

		</div>
</div>
