@model NewsDetailPreviewViewModel

<div class="feed-item feed-item-highlighted">
	<div class="feed-image-holder">
		<img src="@Model.SmallImage.Url" alt="@Model.SmallImage?.AlternateText" />
	</div>
	<div class="feed-text-holder">
		<h3>@Model.PageTitle</h3>
		<span class="feed-date">@Model.ReleaseDate</span>
		<p>
			@Model.SummaryHighlighted
		</p>
		<a href="@Model.Link.Url" class="btn">@Model.Link.Content</a>
	</div>
</div>
