@model NewsDetailPreviewViewModel

<div class="feed-item">
	@if (Model.SmallImage != null)
	{
		<a href="@Model.PageUrl"  class="feed-image-holder">
			<img src="@Model.SmallImage.Url" alt="@Model.SmallImage.AlternateText" />
		</a>
	}
	<div class="feed-text-holder">
		<h3><a href="@Model.PageUrl">@Model.PageTitle</a></h3>
		<span class="feed-date">@Model.ReleaseDate</span>

		<p>
			@Model.Summary
		</p>
		<a href="@Model.Link.Url" class="btn">@Model.Link.Content</a>
	</div>
</div>
